
<html>
    <head>
        <title>Stock Site</title>
            <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
        <!-- top left corner: source choice (Put current source choide on top left))
        Middle: Put serch button for queries
        Configure nother button to look at standardised queries
        
    
        Check if below is working
        Make sure error is working as well
    -->
    <div class='site-title'> Stock Site </div>

    <div class = "source">
        <p>{{ complete }}</p>
    </div>
        
    </body>
</html>